html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    font-family: 'Bebas Neue', cursive;
    color: #e8663c;
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.container {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 28px 0;
}

.header__logo a {
    font-size: 36px;
    color: #e8663c;
}


.header__logo a span {
    color: #f3af9d;
}

.header__menu li + li {
    margin-left: 28px;
}

.header__menu a {
    font-size: 18px;
    color: #b9b9b9;
}

.header__menu a:hover {
    color: #e8663c;
    transition: all .3s;
}

.header__menu a.active {
    color: #e8663c;
}
