html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'IBM Plex Sans', sans-serif; 
}

a {
    font-family: 'Bebas Neue', cursive;
    color: #e8663c;
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.container {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 28px 0;
}

.header__logo a {
    font-size: 36px;
    color: #e8663c;
}


.header__logo a span {
    color: #f3af9d;
}

.header__menu li + li {
    margin-left: 28px;
}

.header__menu a {
    font-size: 18px;
    color: #b9b9b9;
}

.header__menu a:hover {
    color: #e8663c;
    transition: all .3s;
}

.header__menu a.active {
    color: #e8663c;
}

/* ------------------
        SLIDER
------------------ */

.slider {
    background-image: url(../images/left.jpg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: 100% 62px;
}

.slider__inner::before {
    content: '';
    width: 10px;
    height: 62px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: -10px;
}

.slider__inner::after {
    content: '';
    width: 10px;
    height: 62px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
}

.slider__item {
    background-image: url(../images/slider-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 401px;
    /* border-left: 10px solid #fff; */
    /* border-right: 10px solid #fff; */
    position: relative;
    outline: none;
}

.slider__item-info {
    width: 413px;
    height: 124px;
    padding: 22px 28px 25px 20px;
    background-color: rgba(232, 102, 60, .8);
    position: absolute;
    bottom: 32px;
    left: 35px;
}

.slider__item-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.slider__item-text { 
    color: #fff;
    font-size: 11px; 
}

.slider__menu {
    margin-top: 18px;
}

.slider__menu-item {
    outline: none;
    width: auto !important;
    height: auto !important;
    margin-right: 20px;
    cursor: pointer;
}

.slider__menu-item:last-child {
    margin-right: 0;
}

.slider__menu img {
    max-width: 100%;
    display: block;
    margin: 0;
}
