html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'IBM Plex Sans', sans-serif; 
}

a {
    font-family: 'Bebas Neue', cursive;
    color: #e8663c;
    display: inline-block;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.container {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 28px 0;
}

.header__logo a {
    font-size: 36px;
    color: #e8663c;
}


.header__logo a span {
    color: #f3af9d;
}

.header__menu li + li {
    margin-left: 28px;
}

.header__menu a {
    font-size: 18px;
    color: #b9b9b9;
}

.header__menu a:hover {
    color: #e8663c;
    transition: all .3s;
}

.header__menu a.active {
    color: #e8663c;
}

/* ------------------
        SLIDER
------------------ */

.slider {
    background-image: url(../images/left.jpg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: 100% 62px;
}

.slider__inner::before {
    content: '';
    width: 10px;
    height: 62px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: -10px;
}

.slider__inner::after {
    content: '';
    width: 10px;
    height: 62px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
}

.slider__item {
    background-image: url(../images/slider-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 401px;
    /* border-left: 10px solid #fff; */
    /* border-right: 10px solid #fff; */
    position: relative;
    outline: none;
}

.slider__item-info {
    width: 413px;
    height: 124px;
    padding: 22px 28px 25px 20px;
    background-color: rgba(232, 102, 60, .8);
    position: absolute;
    bottom: 32px;
    left: 35px;
}

.slider__item-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.slider__item-text { 
    color: #fff;
    font-size: 11px; 
}

.slider__menu {
    margin-top: 18px;
}

.slider__menu-item {
    outline: none;
    width: auto !important;
    height: auto !important;
    margin-right: 20px;
    cursor: pointer;
}

.slider__menu-item:last-child {
    margin-right: 0;
}

.slider__menu img {
    max-width: 100%;
    display: block;
    margin: 0;
}

/* PORTFOLIO  start */

.portfolio {
    padding: 40px 0;
}

.portfolio__inner {
    display: flex;
    justify-content: space-between;
}

.portfolio__item {
    max-width: 284px;
}

.portfolio__title {
    font-size: 24px;
    line-height: 26px;
    color: #e8663c;
    padding-left: 70px;
    margin-bottom: 40px;
    position: relative;
}

.portfolio__title-1::before {
    content: '';
    width: 46px;
    height: 46px;
    background-image: url(../images/icons/gear.svg);
    position: absolute;
    left: 0;
    top: 0;
}

.portfolio__title-2::before {
    content: '';
    width: 49px;
    height: 40px;
    background-image: url(../images/icons/check.svg);
    position: absolute;
    left: 0;
    top: 0;
}

.portfolio__title-3::before {
    content: '';
    width: 42px;
    height: 40px;
    background-image: url(../images/icons/user.svg);
    position: absolute;
    left: 0;
    top: 0;
}

.portfolio__text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #414141;
    margin-bottom: 20px;
}
.portfolio__btn {
    background-color: #e8663c;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
}

/* PORTFOLIO  end */ 


/* WORKS start */ 
.works__title {
    background-image: url(../images/pattern-bg.jpg);
    background-repeat: repeat;
    margin-bottom: 24px;
}
.works__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px
}
.works__item {
    max-width: 220px;
}

.works__item-img {
    display: block;
}

.works__item-text {
    padding: 12px 0 14px 10px;
    border: 1px solid #dbdbdb;
    border-top: none;
}
.works__item-title {
    font-size: 18px;
    line-height: 18px;
    color: #b9b9b9;
}
.works__item-date {
    color: #e8663c;
    font-size: 14px;
}

/* WORKS end */ 


/* FOOTER start */ 

.footer {
    font-size: 12px;
    line-height: 1.4;
    color: #fff;
    background-image: url(../images/left.jpg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: 100% 62px;
}


.footer__inner {
    padding: 36px 34px 30px;
    background-color: #e8663c;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer__inner::before {
    content: '';
    width: 10px;
    height: 62px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
}

.footer__inner::after {
    content: '';
    width: 10px;
    height: 62px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
}

.footer__box {
    max-width: 266px;
}

.footer__box-twitter {
    max-width: 220px;
}

.footer__title {
    font-size: 22px;
    margin-bottom: 12px;
}

.footer__p + .footer__p {
    margin-top: 15px;
}

.footer__box-twitter a {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #f3b29d;
    font-size: 12px;
}

.footer__box-twitter span {
    display: block;
    color: #f3b29d;
    margin-top: 10px;
}

.footer__box-about .footer__p {
    margin-bottom: 18px;
}

.footer__box-about .footer__p a {
    font-family: 'IBM Plex Sans', sans-serif;
    display: block;
    color: #fff;
}

/* FOOTER end */ 
